# Jupyter and Python
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak

# Data and models
*.csv
*.tsv
*.xlsx
*.h5
*.joblib
models/

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.env
.venv
.vscode

# Logs
*.log

# Other
*.tmp
*.out
